*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h2 {
    padding-bottom: 8px;
    border-bottom: 3px solid black;
    margin: 0 0 0 10px;
}

h4{
    margin: 0 auto;
}
#form {
    margin: 0 auto;
    background-color: rgba(199, 241, 241, 0.41);
    width: 700px;
    height: auto;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.03);
}

.group {
    margin: 10px;
    padding: 5px;
}

label {
    padding-left: 15px;
    font-weight: bold;
    font-size: 18px;

}

textarea {
    margin-top: 5px;
    /*height: 35px;*/
    height: auto;
    min-height: 20px;
    resize: none;
    overflow: hidden;
    width: 100%;
    border: none;
    border-radius: 10px/10px;
    font-size: 18px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
    padding-left: 10px;
    /*line-height: normal;*/
    vertical-align: middle;
}

textarea:focus {
    border: 2px solid silver;
}

.group_btn {

    align-items: center;
    text-align: center;
    padding: 5px;

}

.button1{
    width: 90%;
    height: 45px;
    background-color: #FFD43D;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px/8px;

}

button:hover {
    transform: scale(1.05);
}

#divForComments {
    display: flex;
    justify-content: center;
    row-gap: 10px;
    column-gap: 7px;
    align-items: center;
    width: 100%;
    height: 350px;
    margin: 10px;
    min-width: 970px;
}

#comment {
    border: 1px solid black;
    border-radius: 8px/8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
    text-align: center;
    align-items: center;
    width: 25%;
    height: 100%;
    background-color: rgba(199, 241, 241, 0.41);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}